.Rhistory
*/.ipynb_checkpoints/
*.png
*.pdf
*.gif
kitematic/
*/__pycache__/
.DS_Store
/python/pickle/1-1.dat
/python/pickle/1-2.dat
/r/.cache/
/r/.local/
node_modules/

.ipynb_checkpoints/
jupyter.log
jupyter.pid
gis/google/Takeout/
/python/asyncio/15.txt
*.log
*.o
.envrc
.python-version
.cache/
