export CLOUDSDK_ACTIVE_CONFIG_NAME=jdsc--dor-ds-sandbox
export GOOGLE_CLOUD_PROJECT=$( gcloud config list project | grep -E "project = " | sed -E -e "s/project = //" )
export GOOGLE_APPLICATION_CREDENTIALS=${HOME}/.config/gcloud/legacy_credentials/${JDSC_GOOGLE_USER}/adc.json
