<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>info.hotoku.sample_r</string>
    <key>Program</key>
    <string>/Users/hotoku/samples/r/launchctl.sh</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/sample_r.out</string>
    <key>StandardErrorPath</key>
    <string>/tmp/sample_r.err</string>
</dict>
</plist>
